<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
</head>
<body>
    <div class="page-modal">
        <div class="modal-container">
            <span class="close-modal">&times;</span>
            <div class="modal-content">

            </div>
        </div>
    </div>
    
    <div id="chat-room">
        <div id="sidebar">
            <div id="logo">
                <span style="font-size: 40px; font-family:Arial, sans-serif;font-weight: bold;"> Chat Room</span>
            </div>
            <div id="profile"> 
                <div class="avatar user-avatar"></div>
                <div id="profile-section">
                    <span class="username">未登录</span>
                </div>
            </div>
            <div id="groups">
                <div class="section-title">groups</div>
                <div id="group"></div>
            </div>
            <div id="friends">
                <div class="section-title">friends</div>
                <div id="friend"></div>
            </div>
        </div>
        <div id="main-chat">
            <div id="chat-header">
                <div id="chat-title">
                    
                </div>
                <div id="chat-button-right">
                    <div class="head-btn">
                        <button id="add-button" >添加</button>
                    </div>
                    <div class="head-btn">
                        <button id="notice-button" >通知</button>
                        <div id="new-notice"></div>
                    </div>
                    <div class="head-btn">
                        <button id="logout-button" >退出</button>
                    </div>
                </div>
            </div>
            <div id="messages">
            </div>
            <div id="input-bar">
                <input id="send-message-input" type="text" placeholder="Type a message...">
                <button id="more-btn" class="input-btn">更多</button>
                <div id="more">
                    <button id="pic-btn">图片</button>
                    <button id="seckill">秒杀</button>
                </div>
                <button id="send-message" class="input-btn">发送</button>
            </div>
        </div>
    </div>
</body>
</html>
