<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
</head>
<body>
    
    <!-- 弹窗 -->
    <div id="myModal">
        <div id="modal-content">
            <span id="closeModal" >&times;</span>
            <div class="user_avatar"></div>
            <h2 id="userName"></h2>
            <p id="userDetails"></p>
        </div>
    </div>

    <div id="chat-room">
        <div id="sidebar">
            <div id="logo">
                <span style="font-size: 40px; font-family:Arial, sans-serif;font-weight: bold;"> Chat Room</span>
            </div>
            <div id="profile"> 
                <div class="user_avatar user_info"></div>
                <div id="profile_section">
                    <span class="username user_info">jayce</span>
                </div>
            </div>
            <div id="groups">
                <div class="section-title">groups</div>
                <div id="group">
                    <div class="group_item">
                        <div class="group_avatar"></div>
                        <div class="group_name">group1</div>
                    </div>
                </div>
            </div>
            <div id="friends">
                <div class="section-title">friends</div>
                <div id="friend">
                    <div class="friend_item">
                        <div class="friend_avatar"></div>
                        <div class="friend_name">friend1</div>
                    </div>
                    <div class="friend_item">
                        <div class="friend_avatar"></div>
                        <div class="friend_name">friend2</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="main-chat">
            <div id="chat-info">
                <div id="chat-title">
                    <span>聊天</span>
                    <span id="group-online-info">
                        （当前在线人数：<span id="online-count">0</span> / <span id="group-count">0</span>）
                    </span>
                </div>
                <div id="chat-button-right">
                    <button id="add-button" >添加</button>
                    <button id="logout-button" >退出</button>
                </div>
            </div>
            <div id="messages">
                <div class="message">
                    <div class="message-left">
                        <div class="avatar"></div>
                        <p class="msg-left-text">Hello, how are you?</p>
                    </div>
                </div>
                <div class="message">
                    <div class="message-right">
                        <p class="msg-right-text">I'm fine, thank you!</p>
                        <div class="avatar"></div>
                    </div>
                </div>
            </div>
            <div id="input-bar">
                <input id="send_message_input" type="text" placeholder="Type a message...">
                <button id="send_message">发送</button>
            </div>
        </div>
    </div>
</body>
</html>
