.head-btn {
    display: flex;
    justify-content: left;
}

#chat-room {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
}

#chat-header {
    height: 50px;
    display: flex;
    padding: 30px;
    background-color: #dfdede;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;;
    align-items: center;
}

#chat-title {
    display: flex;
    align-items: center;
    font-size: 24px;
    gap: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

#chat-title-avatar {
    width: 50px;
    height: 50px;
    position: relative;

    &::after {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        right: 2px;
    }

    &[data-online="true"]::after {
        background-color: rgb(7, 185, 7);
        border: 2px solid #fff;
    }

    &[data-online="false"]::after {
        background-color: red;
        border: 2px solid #fff;
    }
}

#chat-button-right {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;

    button {
        position: relative;
        margin-left: 30px;
        @include svg-btn(30px, 30px);
    }
}

#notice-button {
    &[data-newMsg="true"]::after {
        content: ''; /* 可以添加文字或图标 */
        position: absolute;
        top: 18px;
        right: -3px;
        width: 10px;
        height: 10px;
        background-color: red;
        border-radius: 50%;
        border: 2px solid white;
    }
}