.page-modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.modal-container {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer; 
    transition: 0.3s;
    &:hover, &:focus{
        color: black;
        text-decoration: none;
        transform: scale(1.2);
    }
}

.modal-content {
    margin-top: 30px;
}

.modal-subtitle {
    font-size: 20px;
    color: gray;
    margin-top: 16px;
    margin-bottom: 16px;
}

.modal-avatar {
    width: 80px;
    height: 80px;
    background-color: #3b5998;
    border-radius: 50%;
    transition: transform 0.3s ease;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
    }
}

#user-info, #group-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
    font-size: 24px;

    .username, .group-name {
        width: 200px;
        word-wrap: break-word;
    }
}

.user-details, .group-details {
    font-size: 20px;
}

#group-members {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.group-member {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: transform 0.3s ease, border 0.3s ease;

    .avatar {
        width: 40px;
        height: 40px;
        background-color: #3b5998;
        border-radius: 50%;
        
        cursor: pointer;
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        border: 1px solid gainsboro;
    }
}

#notice-modal-content {
    height: 300px;
}

#notice-list {
    height: 300px;
    overflow-y: scroll;
}

.notice-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 130px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 20px 0 20px;
    margin-bottom: 10px;
}

.operation-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    gap: 10px;

    button {
        @include default-btn(60px, 30px);
    }
}

.notice-title-container {
    display: flex;
    justify-content: left;
    height: 24px;
    margin-bottom: 14px;
}

.notice-timestamp {
    margin-left: 24px;
    font-size: 16px;
    color: gray;
    display: flex;
    align-items: flex-end;
}

.notice-title {
    font-size: 24px;
    font-weight: bold;
}

.notice-content {
    font-size: 16px;
}

.notice-sender{
    margin-left: auto;
}

#find-modal-content {
    height: 400px;
}

#find-friend-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#input-friend-name{
    width: 80%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
    margin-right: 20px;
}

#find-friend-btn {
    margin-bottom: 10px;
    @include svg-btn(30px, 35px);
}

#find-friend-result{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.find-result-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
    text-align: center;
}

.find-result-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height: 14vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: scroll;
    margin-bottom: 10px;
    padding: 15px 5px 0 5px;
    background-color: #f9f9f9;
}

.find-result-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 0 20px 0 20px;

    &:hover {
        border: 3px solid black;
        transform: scale(1.02);
        background-color: #ccc;
    }
}

.add-friend-btn {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 16px;
    color: white;
    margin-left: auto;
    cursor: pointer;

    &[data-click="true"]:hover {
        background-color: white;
        color: black;
    }

    &[data-click="true"] {
        background-color: black;
        color: white;
    }

    &[data-click="false"] {
        background-color: #777777;
    }
}


.group-avatar, .friend-avatar {
    width: 30px;
    height: 30px;
    background-color: #3b5998;
    border-radius: 50%;
    margin-right: 10px;
}

.friend-item {
    .friend-avatar {
        position: relative;

        &::after {
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            position: absolute;
            bottom: 0;
            right: 2px;
        }
    }

    &[data-online="true"] .friend-avatar::after {
        background-color: rgb(7, 185, 7);
        border: 1px solid #fff;
    }

    &[data-online="false"] .friend-avatar::after {
        background-color: red;
        border: 1px solid #fff;
    }
}

.group-avatar, .friend-avatar {
    width: 30px;
    height: 30px;
    background-color: #3b5998;
    border-radius: 50%;
    margin-right: 10px;
}

.group-member {
    .member-avatar {
        position: relative;

        &::after {
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            position: absolute;
            bottom: 0;
            right: 2px;
        }
    }

    &[data-online="true"] .member-avatar::after {
        background-color: rgb(7, 185, 7);
        border: 1px solid #fff;
    }

    &[data-online="false"] .member-avatar::after {
        background-color: red;
        border: 1px solid #fff;
    }
}

.modal-operation-container {
    display: flex;
    justify-content: left;
    gap: 20px;
    top: 10px;

    .operation-button {
        @include svg-btn(30px, 30px);
    }
}