* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page-modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

#model-header{
    display: flex;
    justify-content: left;
}

#find-modal-content {
    height: 50%;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer; 
    transition: 0.3s;
}

.close-modal:hover, .close-modal:focus {
    color: black;
    text-decoration: none;
    transform: scale(1.2);
}

#find-friend {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}

#input-friend-name{
    width: 80%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
    margin-right: 20px;
}

#find-friend-btn {
    width: 60px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

#find-friend-result{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.find-result-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #4CAF50;
    text-align: center;
}

.find-result-list {
    display: flex;
    align-items: center;
    width:100%;
}

.find-result-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.add-friend-btn {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    margin-left: auto;
    cursor: pointer;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

#chat-room {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
}

#sidebar {
    width: 20%;
    background-color: #e6e6e6;
    padding: 0px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 50px 0px 0px 50px;
}

#logo {
    display: flex;
    padding: 10px 5px 10px 5px;
}

#profile {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    height: 50px;
}

#profile-section {
    display: flex;
    flex-direction: column;
}

.user-avatar {
    width: 80px;
    height: 80px;
    background-color: #3b5998;
    border-radius: 50%;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.user-avatar:hover {
    transform: scale(1.2);
}

.user-info {
    cursor: pointer;
}

#profile-section .username {
    font-weight: bold;
    font-size: 24px;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

#profile-section .username:hover {
    font-weight: bold;
    color:deepskyblue;
    font-size: 24px;
    margin-left: 10px;
    transform: scale(1.2);
}

.section-title {
    margin-bottom: 10px;
    text-align: center;
    color: #8b8b8b;
    font-size: 16px;
    font-weight: bold;
}

#group, #friend {
    background-color: #d1d1d1;
    padding: 5px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 320px;
    padding: 15px;
    overflow-y: auto;
    border-radius: 20px;
}

.group-item, .friend-item{
    display: flex;
    justify-content: left;
    font-size: 16px;
    color:#555;
    cursor: pointer;
    align-items: center;
    height: 30px;
    transition: transform 0.3s ease, border-color 0.3s ease, border-width 0.3s ease;
    border: 3px solid transparent;
    border-radius: 10px;
}

.group-item:hover, .friend-item:hover {
    transform: scale(1.1);
    border-color: #8f8f8f;
}

.unread-msg {
    margin-left: auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    text-align: center;
    color: white;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: transform 0.3s ease, border-color 0.3s ease, border-width 0.3s ease;
}

.unread-msg:hover {
    transform: scale(1.1);
    border-color: #8f8f8f;
}

.group-item.active, .friend-item.active {
    background-color: #c1c1c1;
}

.group-avatar, .friend-avatar {
    width: 30px;
    height: 30px;
    background-color: #3b5998;
    border-radius: 50%;
    margin-right: 10px;
}

#chat-header {
    height: 50px;
    display: flex;
    padding: 30px;
    background-color: #e6e6e6  ;
    align-items: center;
}

#chat-title {
    display: flex;
    align-items: center;
    font-size: 24px;
    gap: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#chat-title:hover {
    transform: scale(1.1);
}

#chat-title-avatar {
    width: 50px;
    height: 50px;
    position: relative;
}

#chat-title-avatar[data-online="true"]::after, 
#chat-title-avatar[data-online="false"]::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 2px;
  border: 2px solid #fff;
}

#chat-title-avatar[data-online="true"]::after {
    background-color: lightgreen;
}
  
#chat-title-avatar[data-online="false"]::after {
    background-color: red;
}

#chat-button-right {
    display: inline-block;
    margin-left: auto;
    margin-right: 10px;
    gap: 50px;
    font-size: 20px;
    color: #555;
}

#chat-button-right button {
    width: 50px;
    height: 50px;
    margin-left: 25px;
    border-radius: 10px;
    background-color: #3b5998;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    border: 3px solid white;
    cursor: pointer;
}

#main-chat {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #ccc;
}

.avatar {
    border-radius: 50%;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: 3px solid black;
}

#messages {
    flex: 1;
    padding: 0 30px 0 30px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

.message {
    margin-bottom: 25px;
    width: 100%;
}

#no-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20px;
    color: #555;
}


.message-left {
    display: flex;
    justify-content: left;
}

.message-right {
    display: flex;
    justify-content: flex-end;
}

.message .avatar {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.message .avatar:hover {
    transform: scale(1.1);
}

.msg-left-text {
    position: relative;
    display: inline-block;
    margin: 0 0 0 24px;
    padding: 14px 10px;
    min-width: 20px;
    max-width: 500px;
    color: #555;
    font-size: 18px;
    background: #e0f2ff;
    border-radius: 6px;
    word-wrap: break-word;
}
  
.msg-left-text:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 16px solid #e0f2ff;
}
  
.msg-left-text p {
    margin: 0;
    padding: 0;
}

.msg-right-text {
    position: relative;
    display: inline-block;
    margin: 0 24px 0 0;
    padding: 14px 10px;
    min-width: 20px;
    max-width: 500px;
    clear: both;
    color: #555;
    font-size: 18px;
    background: #8ffcdb;
    border-radius: 6px;
    word-wrap: break-word;
}
  
.msg-right-text:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -15px;
    border: 15px solid transparent;
    border-left: 15px solid #8ffcdb;
}
  
.msg-right-text p {
    margin: 0;
    padding: 0;
}

#input-bar {
    display: flex;
    border-top: 1px solid #ccc;
    padding: 10px;
    gap: 10px;
    height: 80px;
}

#input-bar input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
}

#input-bar button {
    padding: 10px 20px;
    border: none;
    background-color: #3b5998;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}

/* 元素放大的动画 */
@keyframes zoomIn {
    from {
      transform: scale(1); /* 开始时，元素的大小是原始大小的一半 */
    }
    to {
      transform: scale(1.3); /* 动画结束时，元素恢复原始大小 */
    }
}